<<<<<<< HEAD

=======
>>>>>>> 54d4ff158af9fb5844f7f38b821f9413541e2ee3
.footer img{
    width: 50px;
  
    margin-right: 10px;
<<<<<<< HEAD

}

=======
}
>>>>>>> 54d4ff158af9fb5844f7f38b821f9413541e2ee3
.card-text{
    color: rgb(12, 12, 12); 
}
.card-img-top{
    width:300px;
  height:300px;
  margin:20px auto;
  display:block;
}
.centro{
    text-align: center;
}
.card-group{
    margin:5px auto;
}
.card {
    position: relative;
    display: flex;
    background-color: #FADBD8;
    border: 1px solid #dd1a1a20;
    border-radius: 0.25rem;
}
.footer{
    background: #000;
    color: rgb(181, 150, 221);
    padding: 10px;
    text-align: center;
}
.footer img{
    width: 50px;
<<<<<<< HEAD
  
    margin-right: 10px;

=======
    margin-right: 10px;
>>>>>>> 54d4ff158af9fb5844f7f38b821f9413541e2ee3
}